.conteudo{
    background-image: linear-gradient(to bottom right, #111827, #312e81);
}

.bloco-conteudo{
    max-width: 1024px;
    width: 100%;
    margin: auto;
    background-color: #1F2937;
    margin-top: 3rem;
    border-radius: 0.75rem;
}
